search-path = ["src"]
python-version = "3.12.0"
ignore-missing-imports = [
    "alembic.*",
    "arq.*",
    "structlog.*",
    "opentelemetry.*",
]
untyped-def-behavior = "skip-and-infer-return-any"
